/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
 .container {
    //max-width: 100%; /* 1 */
    margin-left: auto; /* 2 */
    margin-right: auto; /* 2 */
    padding-left: 15px; /* 3 */
    padding-right: 15px; /* 3 */
    //width: 100%; /* 1 */
    position: relative;
    @media (map-get($breakpoints,"minSmall")) {
      max-width: 540px;
    }
    @media (map-get($breakpoints,"minMedium")) {
      max-width: 720px;
    }
    @media (map-get($breakpoints,"minLarge")) {
      max-width: 960px;
    }
  }
  